@model ASP_EF_App1.Models.Student
<table>
    <tr>
        <td>StudentName</td>
        <td>
            <strong>@Model.StudentName</strong>
        </td>
    </tr>
    <tr>
        <td>Department</td>
        <td>
            <strong>@Model.Department</strong>
        </td>
    </tr>
    <tr>
        <td>PhoneNumber</td>
        <td>
            <strong>@Model.PhoneNumber</strong>
        </td>
    </tr>
    <tr>
        <td>EnrolledDate</td>
        <td>
            <strong>@Model.EnrolledDate</strong>
        </td>
    </tr>
</table>
