<h1>One Stop service</h1>
<form method="post>
    <table>
        <tbody>
            <tr>
                <td>
                    <label asp-for="CustomerName"></label>
                </td>
                <td>
                    <input asp-for="CustomerName"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label asp-for="PhoneNumber"></label>
                </td>
                <td>
                    <input asp-for="PhoneNumber"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label asp-for="VehicleNo"></label>
                </td>
                <td>
                    <input asp-for="VehicleNo"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label asp-for="City"></label>
                </td>
                <td>
                    <input asp-for="City"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label asp-for="VehicleModel"></label>
                </td>
                <td>
                    <input asp-for="VehicleModel"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label asp-for="ServiceType"></label>
                </td>
                <td>
                    <input asp-for="ServiceType"/>
                </td>
            </tr>
            <tr>
                <td rowspan="2">
                    <input type="submit" name="submit" value="Submit"/>
                </td>
            </tr>
        </tbody>
    </table>
</form>
